# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\level 2 term 1\CSE-204-Data Structure and algorithm 1 sessional\offlines\o9-greedy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
